.container {
    cursor: pointer;
    display: inline-block;
    background: $primary;
    border-radius: 50%;
    box-shadow: $box-shadow;

    &.no-shadow {
        box-shadow: none;
    }

    .content {
        color: $white-text-color;
        font-size: 24px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
