.container {
    transition: all 0.8s;

    &.invisible {
        &.down {
            opacity: 0;
            transform: translateY(-32px);
        }

        .up {
            opacity: 0;
            transform: translateY(32px);
        }
    }

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }
}
