.container {
    transition: all 0.8s;

    &.invisible {
        opacity: 0;
        transform: translateY(-32px);
    }

    &.visible {
        opacity: 1;
        transform: translateY(0);
    }
}
