.container {
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;

    .wrapper {
        position: relative;
        overflow-x: hidden;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        .content {
            position: absolute;
            transition: $transition;

            &.previous {
                transform: translateX(-100vw);

                &.right-swipe {
                    transform: translateX(0);
                }

                &.left-swipe {
                    transform: translateX(-200vw);
                }
            }

            &.display {
                &.right-swipe {
                    transform: translateX(100vw);
                }

                &.left-swipe {
                    transform: translateX(-100vw);
                }
            }

            &.next {
                transform: translateX(100vw);

                &.right-swipe {
                    left: 200vw;
                }

                &.left-swipe {
                    transform: translateX(0);
                }
            }
        }
    }
}
