.container {
    text-align: center;

    .logo-area {
        height: 200px;
        display: inline-block;
        user-select: none;
        margin-top: 24px;
        cursor: pointer;

        @include media(sm) {
            display: none;
        }
    }

    .slide-show-area {
        margin-top: 16px;
        display: flex;
        justify-content: center;
    }

    .border {
        height: 1px;
        width: 100%;
    }
}
