.container {
    position: relative;

    .header {
        text-align: center;
        height: 48px;
        background: $primary;

        &.sm {
            display: none;

            @include media(sm) {
                display: block;
            }
        }
    }


    .menu-icon {
        @include media(sm) {
            display: none;
        }

        display: inline-block;
        position: fixed;
        top: 32px;
        right: 32px;
    }
}
