.container {
    .search-area {
        border: 2px solid grey;
        margin-bottom: 48px;
        height: 64px;
    }

    .product-area {
        border: 2px solid grey;
    }

    .product-thumbnail {
        width: 50%;
    }
}
