.container {
    .main {
        margin: 0 auto;
        max-width: $xl;
        padding: 0 64px;

        @include media(sm) {
            padding: 0;
        }

        .title {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 160px;
            font-size: 70px;
            font-weight: 700;
            color: $primary;

            &.default {
                @include media(sm) {
                    display: none;
                }
            }
        }
    }
}
