.container {
    position: relative;
    color: $primary;

    .content {
        padding: 32px;

        .label {
            font-family: $title-font-face;
            font-size: 48px;
        }
    }

}
